header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1em;
    border-bottom: 1px solid #cecece;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

main {
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

article {
    margin: 2rem;
    width: 33%;
    flex-grow: 1;
    flex-basis: 260px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h3 {
    font-size: 1.5em;
    padding: 1.5em;
}

.hero {
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cfcaca;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 3em;
}